[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = git@github.com:skammer/vim-css-color.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/Align"]
	path = bundle/Align
	url = https://github.com/vim-scripts/Align.git
[submodule "vim-statline"]
	path = vim-statline
	url = https://github.com/millermedeiros/vim-statline.git
[submodule "bundle/vim-statline"]
	path = bundle/vim-statline
	url = https://github.com/millermedeiros/vim-statline.git
